<div id="scripts" class="scripts">
    <!-- * Data/Variables -->
    <!-- These are scripts that set up variables either as placeholders or as client-side variables -->
    <script class="scripts--data--data" src="/javascript/data.js"></script>
    
    <!-- * Active Scripts -->
    <!-- These are scripts that set event-listeners, module-builders, and client-side javascript actions -->
    <script class="scripts--client" src="/javascript/client.js"></script>
</div>